mixin NavItem(name)
  li.nav-item
    a.nav-link(href=`/${name.toLowerCase()}`)= name

nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  a.navbar-brand(href='about') Rutvi Shah
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      - var names = ['About', 'Project', 'Service', 'Contact']
      for name in names
        +NavItem(name)     