extends layout

block content
  img(src='images/back.jpg', alt='Snow', style='width:100%;')
  .centered    
    h1 Rutvi Shah
    img.img-thumbnail(src='images/my.png', alt='Cinque Terre', width='304', height='236')
    h3 Computer Science and Engineer | Software Developer
    

 
