extends layout

block content
  .w-100
  // <h2 class="mb-5">Experience</h2>
  .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
    .resume-content
      h3.mb-0 Technical Support Analyst
      .subheading.mb-3 The International Group Inc. – Toronto, Canada (Co-op)
      ul(style='list-style-type:square;')
        li
          | Assists users in resolving their PC hardware, PC printers, and software problems.
        li
          | Maintains LAN subscribers and their security profiles.
          | Configuration and troubleshooting of Microsoft products- Excel, Outlook, Skype.
        li Documentation of all LAN maintenance and PC configuration procedures.
        li Maintains an inventory listing of PCs and PC software at each IGI site. 
        li
          | Responsible for administrating the anti-virus software application and assures that each user
          | is using the current version.
        li
          | Conducts daily backups of our system/application software and data files on our network and application servers according to documented IGI procedures.
    .resume-date.text-md-right
      span.text-primary September 2018 - January 2019
  .resume-item.d-flex.flex-column.flex-md-row.justify-content-between.mb-5
    .resume-content
      h3.mb-0 Software Developer
      .subheading.mb-3  Arche Softronix Pvt. Ltd. – Vadodara, India.
      ul(style='list-style-type:square;')
        li
          | Discussed the solution with the clients to make sure the application meets their requirement as well as customer’s needs.
        li Maintaining Company's database - Platform:MYSQL
        li Event Organization
        li Desktop apllication development : Visual Studio
        li Working with Live application called ATS: Arche Traking System
    .resume-date.text-md-right
      span.text-primary March-July 2017

