body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
    margin-top: auto;
    height:50px;
}
p {
  font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

h2{
  text-align: center;
  color:crimson;
}

h1 {
  font: 26px "Lucida Grande", Helvetica, Arial, sans-serif;
}

section.portfolio-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}
.portfolio-item .portfolio-date {
  min-width: none;
}

@media (min-width: 768px) {
   .portfolio-item .portfolio-date {
    min-width: 18rem;
  }
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
h1 {
  text-align: center;
  color: indianred;
  font-size: 20px;
}
h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.img-thumbnail{
  margin-left: 10rem;
}

h3{
  color: black;
}

